.header {
    margin: 1rem;

    .title {
        font-size: 2rem;
        font-family: "Noto Sans KR", sans-serif;
    }
    .subtitle {
        font-size: .8rem;
        font-family: "Open Sans";
    }
}